---
permalink: /assets/css/model_example.css
---

@import "support/variables";

.model {
  align-items: center;
  background: $grey-lt-000;
  border: solid 1px $grey-lt-200;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: $sp-5;
}

.model iframe {
  border: none
}

.model figcaption {
  text-align: center;
}