---
permalink: /models/model.css
---

{% include css/just-the-docs.scss.liquid color_scheme="light" %}

body {
  align-items: center;
  background: $grey-lt-000;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

menu {
  padding: 0;
}

button {
  @extend .btn;
  @extend .btn-purple;
  @extend .mx-5;
}

button img {
  vertical-align: -4px;
}