---
permalink: /api/reference.css
---

@import "support/variables";

.main-content h3 {
  background-color: $grey-lt-000;
  font-family: $mono-font-family;
  padding: 0 $sp-1;
}

.main-content h4,
.main-content h3 ~ p,
.main-content h3 ~ div {
  margin: 0 $sp-3;
}

.main-content h4 {
  padding-top: $sp-2;
  margin-bottom: -$sp-2;
}

.main-content h3 ~ p {
  padding-bottom: $sp-2;
}

.main-content code {
  white-space: nowrap;
}